<a href="https://colab.research.google.com/github/nelsongcn/Challenge-Data-Science-Alura/blob/main/Challenge_Alura_Semana_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Alura Challenge Data Science

Dados - https://github.com/sthemonica/alura-voz/blob/main/Dados/Telco-Customer-Churn.json

Dicion√°rio - https://github.com/sthemonica/alura-voz/blob/main/dicionario.md

## Semana I - Limpeza dos dados trazidos de uma API

In [93]:
import pandas as pd

### Lendo o arquivo no formato JSON

In [94]:
dados = pd.read_json('/content/Telco-Customer-Churn.json')

In [95]:
dados.head(10)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
5,0013-MHZWF,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
6,0013-SMEOE,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7,0014-BMAQU,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Two year', 'PaperlessBilling': '..."
8,0015-UOCOJ,No,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
9,0016-QLJIS,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [96]:
type(dados)

pandas.core.frame.DataFrame

### Normalizando os dados - Separando os dados de cada coluna

In [97]:
dados_customer = pd.json_normalize(data = dados.customer)
dados_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [98]:
dados_phone = pd.json_normalize(data = dados.phone)
dados_phone

     PhoneService     MultipleLines
0             Yes                No
1             Yes               Yes
2             Yes                No
3             Yes                No
4             Yes                No
...           ...               ...
7262          Yes                No
7263          Yes               Yes
7264          Yes                No
7265          Yes                No
7266           No  No phone service

[7267 rows x 2 columns]

In [99]:
dados_internet = pd.json_normalize(data = dados.internet)
dados_internet

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [100]:
dados_account = pd.json_normalize(data = dados.account)
dados_account

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [101]:
dados_ID = dados[['customerID',	'Churn']]
dados_ID

      customerID Churn
0     0002-ORFBO    No
1     0003-MKNFE    No
2     0004-TLHLJ   Yes
3     0011-IGKFF   Yes
4     0013-EXCHZ   Yes
...          ...   ...
7262  9987-LUTYD    No
7263  9992-RRAMN   Yes
7264  9992-UJOEL    No
7265  9993-LHIEB    No
7266  9995-HOTOH    No

[7267 rows x 2 columns]

### Juntando todos os DataFrames em apenas um

In [102]:
df = pd.concat([dados_ID, dados_customer, dados_phone, dados_internet, dados_account], axis = 1)
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Ampliando a visualiza√ß√£o do n√∫mero de colunas

In [103]:
pd.set_option("display.max_columns",30)
df

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Traduzindo as Colunas

In [104]:
df = df.rename(columns={'customerID': 'IDcliente', "gender": "sexo", "SeniorCitizen": "idoso", "Partner": "parceiro", "Dependents": "dependentes", "tenure": "tempo_contrato", "PhoneService": "servico_telefonico",
                   "MultipleLines": "multiplas_linhas", "InternetService": "servico_internet", "OnlineSecurity": "seguran√ßa_online", "OnlineBackup": "backup_online", "DeviceProtection": "protecao_dispositivo",
                   "TechSupport": "suporte_tecnico", "StreamingTV": "TV_a_cabo", "StreamingMovies": "streaming_filmes", "Contract": "tipo_contrato", "PaperlessBilling": "conta_online", "PaymentMethod": "forma_pagamento",
                   "Charges.Monthly": "gastos_mes", "Charges.Total": "gastos_total"})

In [105]:
df

,IDcliente,Churn,sexo,idoso,parceiro,dependentes,tempo_contrato,servico_telefonico,multiplas_linhas,servico_internet,seguran√ßa_online,backup_online,protecao_dispositivo,suporte_tecnico,TV_a_cabo,streaming_filmes,tipo_contrato,conta_online,forma_pagamento,gastos_mes,gastos_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,Yes,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,No,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,Yes,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Analizando os tipos de dados

In [106]:
df.shape

(7267, 21)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7267 non-null   object
 1   Churn                 7267 non-null   object
 2   sexo                  7267 non-null   object
 3   idoso                 7267 non-null   int64
 4   parceiro              7267 non-null   object
 5   dependentes           7267 non-null   object
 6   tempo_contrato        7267 non-null   int64
 7   servico_telefonico    7267 non-null   object
 8   multiplas_linhas      7267 non-null   object
 9   servico_internet      7267 non-null   object
 10  seguran√ßa_online      7267 non-null   object
 11  backup_online         7267 non-null   object
 12  protecao_dispositivo  7267 non-null   object
 13  suporte_tecnico       7267 non-null   object
 14  TV_a_cabo             7267 non-null   object
 15  streaming_filmes      7267 non-null   object
 16  tipo_contrato         7267 non-null   object
 17  conta_online          7267 non-null   object
 18  forma_pagamento       7267 non-null   object
 19  gastos_mes            7267 non-null   float64
 20  gastos_total          7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [108]:
df.describe()

             idoso  tempo_contrato   gastos_mes
count  7267.000000     7267.000000  7267.000000
mean      0.162653       32.346498    64.720098
std       0.369074       24.571773    30.129572
min       0.000000        0.000000    18.250000
25%       0.000000        9.000000    35.425000
50%       0.000000       29.000000    70.300000
75%       0.000000       55.000000    89.875000
max       1.000000       72.000000   118.750000

### Verificando Inconsistencias nos Dados

In [109]:
colunas = df.columns.tolist()
for coluna in colunas:
  print(f'A coluna {coluna} tem as seguintes informa√ß√µes: {df[coluna].unique()}')

A coluna IDcliente tem as seguintes informa√ß√µes: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
A coluna Churn tem as seguintes informa√ß√µes: ['No' 'Yes' '']
A coluna sexo tem as seguintes informa√ß√µes: ['Female' 'Male']
A coluna idoso tem as seguintes informa√ß√µes: [0 1]
A coluna parceiro tem as seguintes informa√ß√µes: ['Yes' 'No']
A coluna dependentes tem as seguintes informa√ß√µes: ['Yes' 'No']
A coluna tempo_contrato tem as seguintes informa√ß√µes: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
A coluna servico_telefonico tem as seguintes informa√ß√µes: ['Yes' 'No']
A coluna multiplas_linhas tem as seguintes informa√ß√µes: ['No' 'Yes' 'No phone service']
A coluna servico_internet tem as seguintes informa√ß√µes: ['DSL' 'Fiber optic' 'No']
A coluna seguran√ßa_online tem as seguintes informa√ß√µes: ['No' 'Yes' 'No internet service']
A coluna backup_online tem as seguintes informa√ß√µes: ['Yes' 'No' 'No internet service']
A coluna protecao_dispositivo tem as seguintes informa√ß√µes: ['No' 'Yes' 'No internet service']
A coluna suporte_tecnico tem as seguintes informa√ß√µes: ['Yes' 'No' 'No internet service']
A coluna TV_a_cabo tem as seguintes informa√ß√µes: ['Yes' 'No' 'No internet service']
A coluna streaming_filmes tem as seguintes informa√ß√µes: ['No' 'Yes' 'No internet service']
A coluna tipo_contrato tem as seguintes informa√ß√µes: ['One year' 'Month-to-month' 'Two year']
A coluna conta_online tem as seguintes informa√ß√µes: ['Yes' 'No']
A coluna forma_pagamento tem as seguintes informa√ß√µes: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
A coluna gastos_mes tem as seguintes informa√ß√µes: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
A coluna gastos_total tem as seguintes informa√ß√µes: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

Foi verificado que a coluna Churn contem informa√ß√µes vazias e a coluna gastos_total est√° no formato object. Corrigiremos essas inconsistencias a seguir.

### Analizando a coluna Churn

In [110]:
selecao = df['Churn'] == ''
df[selecao].shape

(224, 21)

In [111]:
df[selecao].head(10)

,IDcliente,Churn,sexo,idoso,parceiro,dependentes,tempo_contrato,servico_telefonico,multiplas_linhas,servico_internet,seguran√ßa_online,backup_online,protecao_dispositivo,suporte_tecnico,TV_a_cabo,streaming_filmes,tipo_contrato,conta_online,forma_pagamento,gastos_mes,gastos_total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,Yes,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,Yes,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
219,0328-IBUPK,,Female,0,Yes,Yes,51,No,No phone service,DSL,Yes,No,No,Yes,No,No,Two year,No,Bank transfer (automatic),34.20,1782
312,0448-YZNZE,,Male,1,Yes,No,27,Yes,Yes,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,95.55,2510.2
351,0510-EXSMQ,,Female,0,No,No,9,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,69.05,651.5
368,0530-HBKHZ,,Female,1,Yes,No,1,No,No phone service,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,24.80,24.8
374,0534-JRNIG,,Female,0,No,No,6,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),93.55,536.4

In [112]:
# Apagando as linhas que cont√©m o Churn = ''
selecao = df['Churn'] != ''
df = df[selecao]

In [113]:
df.Churn.unique()

array(['No', 'Yes'], dtype=object)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7043 non-null   object
 1   Churn                 7043 non-null   object
 2   sexo                  7043 non-null   object
 3   idoso                 7043 non-null   int64
 4   parceiro              7043 non-null   object
 5   dependentes           7043 non-null   object
 6   tempo_contrato        7043 non-null   int64
 7   servico_telefonico    7043 non-null   object
 8   multiplas_linhas      7043 non-null   object
 9   servico_internet      7043 non-null   object
 10  seguran√ßa_online      7043 non-null   object
 11  backup_online         7043 non-null   object
 12  protecao_dispositivo  7043 non-null   object
 13  suporte_tecnico       7043 non-null   object
 14  TV_a_cabo             7043 non-null   object
 15  streaming_filmes      7043 non-null   object
 16  tipo_contrato         7043 non-null   object
 17  conta_online          7043 non-null   object
 18  forma_pagamento       7043 non-null   object
 19  gastos_mes            7043 non-null   float64
 20  gastos_total          7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### Analizando a coluna gastos_total

In [115]:
df['gastos_total']

0         593.3
1         542.4
2        280.85
3       1237.85
4         267.4
         ...
7262      742.9
7263     1873.7
7264      92.75
7265    4627.65
7266     3707.6
Name: gastos_total, Length: 7043, dtype: object

#### Mudando o tipo de objeto para numerico

In [116]:
df['gastos_total'] = pd.to_numeric(df['gastos_total'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7043 non-null   object
 1   Churn                 7043 non-null   object
 2   sexo                  7043 non-null   object
 3   idoso                 7043 non-null   int64
 4   parceiro              7043 non-null   object
 5   dependentes           7043 non-null   object
 6   tempo_contrato        7043 non-null   int64
 7   servico_telefonico    7043 non-null   object
 8   multiplas_linhas      7043 non-null   object
 9   servico_internet      7043 non-null   object
 10  seguran√ßa_online      7043 non-null   object
 11  backup_online         7043 non-null   object
 12  protecao_dispositivo  7043 non-null   object
 13  suporte_tecnico       7043 non-null   object
 14  TV_a_cabo             7043 non-null   object
 15  streaming_filmes      7043 non-null   object
 16  tipo_contrato         7043 non-null   object
 17  conta_online          7043 non-null   object
 18  forma_pagamento       7043 non-null   object
 19  gastos_mes            7043 non-null   float64
 20  gastos_total          7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

Ap√≥s mudar a coluna gastos_total para float verifiquei que tem 11 elementos nulos

In [118]:
df[df['gastos_total'].isna()]

,IDcliente,Churn,sexo,idoso,parceiro,dependentes,tempo_contrato,servico_telefonico,multiplas_linhas,servico_internet,seguran√ßa_online,backup_online,protecao_dispositivo,suporte_tecnico,TV_a_cabo,streaming_filmes,tipo_contrato,conta_online,forma_pagamento,gastos_mes,gastos_total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

Os valores nulos da coluna gastos_total tem rela√ß√£o com tempo de contrato no valor 0. Possivelmente se trata de contratos novos, mas pra n√£o ter duvida irei eliminar esse valores tamb√©m.

In [119]:
df = df.dropna()

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7032 non-null   object
 1   Churn                 7032 non-null   object
 2   sexo                  7032 non-null   object
 3   idoso                 7032 non-null   int64
 4   parceiro              7032 non-null   object
 5   dependentes           7032 non-null   object
 6   tempo_contrato        7032 non-null   int64
 7   servico_telefonico    7032 non-null   object
 8   multiplas_linhas      7032 non-null   object
 9   servico_internet      7032 non-null   object
 10  seguran√ßa_online      7032 non-null   object
 11  backup_online         7032 non-null   object
 12  protecao_dispositivo  7032 non-null   object
 13  suporte_tecnico       7032 non-null   object
 14  TV_a_cabo             7032 non-null   object
 15  streaming_filmes      7032 non-null   object
 16  tipo_contrato         7032 non-null   object
 17  conta_online          7032 non-null   object
 18  forma_pagamento       7032 non-null   object
 19  gastos_mes            7032 non-null   float64
 20  gastos_total          7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [121]:
df.head(5)

,IDcliente,Churn,sexo,idoso,parceiro,dependentes,tempo_contrato,servico_telefonico,multiplas_linhas,servico_internet,seguran√ßa_online,backup_online,protecao_dispositivo,suporte_tecnico,TV_a_cabo,streaming_filmes,tipo_contrato,conta_online,forma_pagamento,gastos_mes,gastos_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

### Criando nova coluna de gastos di√°rio

In [122]:
gastos_diarios = df['gastos_total'] / (df['tempo_contrato'] * 30)

In [123]:
gastos_diarios = gastos_diarios.round(2)
gastos_diarios

0       2.20
1       2.01
2       2.34
3       3.17
4       2.97
        ...
7262    1.90
7263    2.84
7264    1.55
7265    2.30
7266    1.96
Length: 7032, dtype: float64

In [124]:
df.insert(19, 'gastos_diarios', gastos_diarios)

In [125]:
df.head(5)

,IDcliente,Churn,sexo,idoso,parceiro,dependentes,tempo_contrato,servico_telefonico,multiplas_linhas,servico_internet,seguran√ßa_online,backup_online,protecao_dispositivo,suporte_tecnico,TV_a_cabo,streaming_filmes,tipo_contrato,conta_online,forma_pagamento,gastos_diarios,gastos_mes,gastos_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,2.20,65.6,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,2.01,59.9,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,2.34,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.17,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.97,83.9,267.40

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   IDcliente             7032 non-null   object
 1   Churn                 7032 non-null   object
 2   sexo                  7032 non-null   object
 3   idoso                 7032 non-null   int64
 4   parceiro              7032 non-null   object
 5   dependentes           7032 non-null   object
 6   tempo_contrato        7032 non-null   int64
 7   servico_telefonico    7032 non-null   object
 8   multiplas_linhas      7032 non-null   object
 9   servico_internet      7032 non-null   object
 10  seguran√ßa_online      7032 non-null   object
 11  backup_online         7032 non-null   object
 12  protecao_dispositivo  7032 non-null   object
 13  suporte_tecnico       7032 non-null   object
 14  TV_a_cabo             7032 non-null   object
 15  streaming_filmes      7032 non-null   object
 16  tipo_contrato         7032 non-null   object
 17  conta_online          7032 non-null   object
 18  forma_pagamento       7032 non-null   object
 19  gastos_diarios        7032 non-null   float64
 20  gastos_mes            7032 non-null   float64
 21  gastos_total          7032 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

### Exportando dados tratados

In [127]:
df.to_csv('challenge_alura_semana_1.csv', index = False)